.card {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    background-color: #E14141;
    border-radius: 16px;
    cursor: pointer;
}

.card-infos {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}

.card img {
    border-radius: 8px;
}