.container-anime {
    width: 100%;
    height: 100vh;
    margin-top: 2rem;
}

.anime {
    display: flex;
}

.anime-infos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
}